@using Mvc5Memberships.Areas.Admin.Models
@model SubscriptionProductModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubscriptionProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ProductTitle)</dt>
        <dd>@Html.DisplayFor(model => model.ProductTitle)</dd>
        <dt>@Html.DisplayNameFor(model => model.SubscriptionTitle)</dt>
        <dd>@Html.DisplayFor(model => model.SubscriptionTitle)</dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.Partial("_EditButtonDetailsPartial", new EditButtonModel(){SubscriptionId = Model.SubscriptionId, ProductId = Model.ProductId})
    @Html.Partial("_BackToListButtonPartial")
</p>
