@model Mvc5Memberships.Models.ThumbnailAreaModel

<div> @* deleted Row *@
    @if (Model.Title != "")
    {
        <div class="headline">
            <h3>@Model.Title</h3>
        </div>
    }
    @if (Model.Thumbnails != null)
    {
      
        @*foreach (var thumb in Model.Thumbnails)
        instead of thumb used Model.Thumbnails
        {}*@

            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <div class="thumbnail-container">
                        <div class="thumbnail-img-container">
                            <img class="thumbnail-img img-responsive" src="@Model.Thumbnails.ImageUrl" alt="" />
                        </div>
                        <a class="tag text-tag hover-effect" href="@Model.Thumbnails.Link">
                            @Model.Thumbnails.TagText
                        </a>
                        <div class="tag content-tag">@Model.Thumbnails.ContentTag</div>
                    </div>
                    <div class="caption">
                        <h3><a href="@Model.Thumbnails.Link">@Model.Thumbnails.Title</a></h3>
                        <p>@Model.Thumbnails.Description</p>
                    </div>
                </div>
            </div>
        
    }
</div>